.trip-member-result-item {
  display: flex;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 0 5px;
}

.trip-member-result-item .trip-member-result-pict {
  width: 65px;
  margin: 10px;
}

.trip-member-result-item .trip-member-result-pict img {
  width: 100%;
}

.trip-member-result-item .trip-member-result-info .trip-member-result-name {
  font-size: 14px;
}

.trip-member-result-item .trip-member-result-info .trip-member-result-name p {
  margin-bottom: 5px;
}

.trip-member-result-item .trip-member-result-info .trip-member-result-desc {
  font-size: 12px;
}

.trip-member-result-item .trip-member-result-info .trip-member-result-desc p {
  margin-top: 5px;
}
