.compose-input {
  display: flex;
  margin: 10px 0;
  width: 100%;
}

.compose-input input {
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 0 10px;
  width: 100%;
}

.compose-input input, .compose-input input:hover {
  outline: none;
}

.compose-input-icon {
  width: 24px;
  background: #a8c060;
  border-radius: 0px 4px 4px 0px;
  padding: 5px;    
}

.compose-input-icon img {
  width: 100%;
}