.trip-location-map {
  margin-bottom: 15px;
}

.location-selected {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  border: 0;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #B20700;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 15px;
  cursor: pointer;
}
