.social-login-view {
  padding: 50px;
}

.social-login-logo {
  margin-bottom: 100px;
}

.social-login-buttons {
  display: flex;
  flex-direction: column;
}

.social-login-button {
  margin: 0.75rem;
}
